.App {
  text-align: center;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.left {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.left img {
  width: 100%;
}

.right {
  background-color: blueviolet;
  padding: 1rem;
  text-align: left;
}